footer
  .container.text-center
    p.pull-left © 2016 The Classroom All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='#') About
      li
        a(href='https://github.com/micosoft/The-Classroom-home/issues') Issues
