doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/united.bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    include partials/header

    block content

    include partials/footer


  script(src='/js/jquery.2.2.3.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
